# Editor configuration, see https://editorconfig.org
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 8
trim_trailing_whitespace = true
insert_final_newline = true

# Specific settings for YAML files (GitHub Actions, etc.)
# YAML is strictly space-based and usually prefers a 2-space indent.
[*.{yaml,yml}]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false # Significant in MD for line breaks
